@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de récupération MDP";
}

<div class="row">
    <div class="col-md-12">
        <section>
            <div class="login-clean">
                <form id="account" method="post">
                    <h2 class="sr-only">Demande de récupération</h2>
                    <p>Nous venons d'envoyer une demande de récupération sur votre adresse e-mail.</p>
                </form>
            </div>
        </section>
    </div>
</div>
