@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation de votre compte";
}

<div class="row">
    <div class="col-md-12">
        <section>
            <div class="login-clean">
                <form id="account" method="post">
                    <h2 class="sr-only">Confirmation de votre compte</h2>
                    <p>Nous venons d'envoyer un e-mail de confirmation de compte sur votre adresse.</p>
                </form>
            </div>
        </section>
    </div>
</div>

